.about {
  margin-left: 200px;
  margin-top: -120px;
}

.container {
  height: 550px;
  width: 400px;

  margin-left: 450px;
  border-style: solid;
  margin-top: -191px;
}

img {
  margin-left: 20px;
  margin-top: -20px;
}

#table {
  margin-top: 100px;
  height: 100px;
  width: 300px;
}

.input {
  margin-left: 100px;
  /* margin-top: 200px; */

  height: 254px;
  width: 180px;
  /* background-color: aqua; */
}

.box {
  height: 200px;
  width: 300px;
  border: solid rgb(92, 87, 87);
  margin: -350px 0 0 600px;
}

#gobutton {
  margin-left: 130px;
}

#resetbutton {
  margin-left: 123px;
}

#h4 {
  margin-left: 140px;
  color: darkred;
}

#container {
  margin: -300px 0px 0px 1050px;
  height: 250px;
  width: 300px;
  border: solid;
}

#text {
  margin-left: 70px;
}

#bt {
  margin-left: 120px;
}

#button {
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

#button:hover {
  background-color: rgb(12, 240, 240);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(4, 189, 109);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.4s;

  
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;

}
