
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 </head>
 <body >


  <div class="topnav">
    <a routerLink="Ex_1">Excerise_5 & 6</a>
    <a routerLink="Ex_2">Excerise_7</a>
    <a routerLink="Ex_3">Excerise_8</a>
    <a routerLink="Ex_4">Excerise_9</a>
    <a routerLink="Login">Sign-up page</a>
    <a routerLink="user_Det">Parent Page</a>
    <a routerLink="quiz">Quiz Page</a>
    <a routerLink="pipe">Pipe Tutorial</a>
    <a routerLink="signup">Login Page</a>

  </div>
  <router-outlet></router-outlet>

 </body>
 </html>

